@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body {
  height: 100%;
  font-family: "Bebas Neue";
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #4ccfc1;
  z-index: 2;
}
.container {
  max-width: 1010px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 36px;
  align-items: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.07);
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  margin: 0 0 0 20px;
  padding-right: 20px;
  border-right: 1px solid #fff;
}
.header__list li:first-child {
  margin: 0;
}
.header__list li:last-child {
  border-right: 0;
  padding-right: 0;
}
.header__link {
  font-size: 21px;
  line-height: 19px;
  color: #ffffff;
  white-space: nowrap;
}

@media (max-width: 992px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    // height: 50px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9a9a9a;
    overflow: auto;
    transition: all 0.3s ease 0s;
    padding: 70px 10px 20px 10px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
  .header__link {
    font-size: 24px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
@media (max-width: 480px) {
}
